.todo-list-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.btn-outline-success {
    width: 38px;
    margin-left: 4px;
}

.btn-outline-danger {
    margin-right: 4px;
}

.todo-list-item-label {
    display: flex;
    align-items: center;
}

.done {
    text-decoration: line-through;
}